<article class="post card">
  <div class="card-content">
    <header class="post-header">
      <h1 class="post-title">$title$</h1>
    </header>
      <div class="post-content">
        Here you can find all my previous posts:
      </div>
    </div>
</article>

<div class="posts card">
    <div class="card-content white-text">
      <span class="card-title">Posts</span>

      $partial("templates/post-list.html")$

    </div>
    <div class="pagination">
      $if(previousPageUrl)$
        <span class="prevPage">
          <a href="$previousPageUrl$" class="btn">&lt;</a>
        </span>
      $endif$
      $if(nextPageUrl)$
        <span class="nextPage">
          <a href="$nextPageUrl$" class="btn">&gt;</a>
        </span>
      $endif$
      </span>
    </div>
 </div>
